div#loguinSection {
    position: fixed;
    z-index: 100;
    background: #65afc0;
    height: 100vh;
    width: 300px;
    top: 0;
    right: -150%;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.wrapper_form_loguin {
    padding: 5px;
}

.wrapper_form_loguin img {
    width: 100%;
    margin-bottom: 20px;
}

.wrapper_form_loguin form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_form_loguin input {
    height: 35px;
    width: 95%;
    border-radius: 3px;
    border: solid 1px #eaeaea;
    margin-bottom: 5px;
    font-size: 15px;
    /* color: red; */
    padding-left: 10px;
    box-sizing: border-box;
}

.wrapper_form_logu {}

.wrapper_form_loguin input[type="submit"] {
    background: #ff6c00;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
span.titleLoguin {
    color: white;
    font-weight: 200;
    margin-left: 10px;
    line-height: 30px;
    margin-bottom: 10px;
    display: block;
}
b#closeButom {
    position: absolute;
    font-size: 30px;
    background: #ff6c00;
    color: white;
    line-height: 40px;
    padding: 0 13px 5px;
    border-radius: 30px;
    box-sizing: border-box;
    border: solid 2px;
    transform: rotate(45deg);
    left: -20px;
    cursor: pointer;
}
#errorMessage {
    color: #ffe374;
    display: block;
    width: 90%;
    font-size: 13px;
}
.error_mensaje {
    display: flex;
    display: none;
    }
    .error_mensaje img {
    width: 60px;
    margin: 0 10px 0 0;
    }
    .error_mensaje {
    padding: 10px;
    }
    