    #form_singIn {
        background: #f4f4f45c;
        padding: 60px 0;
    }
    .wrapper_singIn {
    display: flex;
    width: 85%;
    margin: 0px auto;
    }
    .wrapper_singIn .left {
    width: 50%;
    }
    .left {
    }
    .wrapper_singIn .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .wrapper_singIn .left form {
    width: 80%; 
    }
    .wrapper_singIn .left {
    display: flex; 
    align-items: center;
    justify-content: center;
    }
    .wrapper_singIn .left form div {
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px;
    height: 52px;
    position: relative; 
    }
    .wrapper_singIn .left form div input {
    height: 35px;
    border: none;
    border-bottom: solid 1px #e6e6e6;
    background: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 4;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 200;
    }
    .wrapper_singIn .left form div span {
    color: #b9b9b9;
    line-height: 35px; 
    position:absolute;
    display: block; 
    bottom: 0;
    z-index: 2;
    padding-left: 10px;
    transition: all 0.3s;
    }
    #personaSl {
        display: block;
        padding: 10px 0;
            padding-left: 0px;
        margin: -10px 0;
        border: solid 1px #e8e8e8;
        padding-left: 10px;
        font-size: 16px;
        color: #a2a2a2;
    }
    .peque {
        top: -10px;
        font-size: 13px;
    }
    .sing_in_email p {
        color: #a2a2a2;
    }
    #sendSignIn {
        border: none;
        margin-top: 50px;
        color: white;
        background: #65afc0;
        display: block;
        font-size: 16px;
        line-height: 35px;
        padding: 0 20px;
        border-radius: 3px;
        cursor: pointer;
    }
    
    div#message_error button {
        background: red;
        display: block;
        color: white;
        border: none;
        line-height: 40px;
        border-radius: 5px;
        margin-top: 5px;
        font-weight: 100;
    }