div#perfil_usuario {
display: flex;
}

div#perfil_usuario .perfil {

width: 25%; 
background: linear-gradient(170deg, rgba(94,94,94,1) 0%, rgba(57,57,57,1) 100%);
background-size: cover;
min-width: 300px;
} 
div#perfil_usuario .caja_acciones_perfil {
width: 75%;
padding: 0 3%;
background: #fafafa;
}

div#perfil_usuario .perfil .werrapper_perfil_data {
padding: 30px;
position: relative;
}

div#perfil_usuario .perfil .werrapper_perfil_data img {
width: 80%;
max-width: 200px;
display: block;
margin: 0 auto;
border-radius: 130px;
border: solid 10px rgba(255,255,255,0.2);
}
ul#acciones {
margin: 0;
padding: 0;
display: flex;
width: 100%;
}

ul#acciones li {
list-style: none;
width: 50%;
text-align: center;
border: solid 1px #e8e8e8;
line-height: 50px;
cursor: pointer;
font-weight: 200;
background:white;
}
ul#acciones li:hover {
    background: #65afc0;
    color: white;
}

div#formulario_compl_perfil {
display: flex;
padding: 3%;
}

form#compl_pf {
display: flex;
flex-direction: column;
width: 100%;

}
ul#likes img {
width: 18px;
}

ul#likes li {
padding: 0;
}
#compl_pf label {
font-size: 20px;
line-height: 35px;
font-weight: 200;
color: #c7c7c7;
}
form#compl_pf select {
border: none; 
display: block;
font-size: 18px;
width: 100%;
height: 51px;
}
#aportes{
    display: none;
}
.wrapper_aportes{ 
    position: relative;
    overflow: hidden;
}
.wrapper_aportes .logo_box {
    width: 48%;
    max-width: 656px;
    position: relative;
}
li.aportes img {
    margin-right: 8px;
}
form#compl_pf option {
padding: 20px;
display: block;
}
form#compl_pf input {
    margin-bottom: 10px;
    height: 35px;
    border: solid 1px #eaeaea;
    padding: 3px 0 3px 5px;
    font-size: 15px;
    font-weight: 100;
}
form#compl_pf textarea{
    font-size: 15px;
    font-weight: 100; 
}
form#compl_pf button {
height: 45px!important;
font-size: 18px;
background: #65afc0;
display: block;
color: white;
border: none;
cursor: pointer;
}
input#avatar {
background: #f8f8f8;
border: none!important;
padding-top: 15px!important;
padding-left: 20px;
}
#desc {
border: solid 1px #e4e4e4;
padding: 10px;
box-sizing: border-box;
font-size: 18px;
font-weight: 200;
}
.wrapper_data {
padding: 0 20px;
color: deepskyblue;
}

span#username {
font-size: 23px;
}

p#userDescription {
font-weight: 200;
}

ul#likes li {
list-style: none;
}
ul#cajaRedes li {
list-style: none;
width: 13%;
margin-right: 5px;
}
ul#likes {
    padding: 0;
}
li.your_likes img {
    margin-right: 8px;
}
li.your_likes {
    margin-bottom: 10px;
}
ul#cajaRedes {
display: flex;
justify-content: flex-start;
padding: 0;
}

ul#cajaRedes li img {
width: 100%;
}
#edit_delete_avatar { 
position: absolute;
width: 40px;
height: 40px;
bottom: 40px;
right: 70px;
border-radius: 30px;
background: #f7f7f787;
border: solid 1px #ececec;
} 
#edit_delete_avatar input {
position: absolute;
width: 40px;
height: 40px;
border-radius: 30px;
z-index: 5;
opacity: 0;
cursor: pointer;
}
#edit_delete_avatar img {
border: none !important;
width: 38px !important;
height: 40px;
position: absolute;
z-index: 1;
}
.chargin{cursor: progress!important;}
ul#edit_delete {
    position: absolute;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    color: white;
}
ul#edit_delete li{
    list-style: none;
    width: 50%;
    text-align: center; 
    line-height: 40px;
}
ul#edit_delete li:hover{
    background: black; 
    cursor: pointer;
}
li#logEdt {
    background: #005b00cc; 
}
li#logDlt{
    background: #bd1600a2; 
}
div#progressBar {
    width: 0%;
    height: 5px;
    background: red;
    position: absolute;
    z-index: 5;
    /* top: -6px; */
    transition: all 0.2s;
}
 
    