div#grid_box {
    width: 80%;
    max-width: 1050px;
    margin: 50px auto;
    display: flex;
    border: solid 1px #fafafa;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    .logo_box {
    width: 32%;
    /* border: solid 1px #d8d8d8; */
    margin-bottom: 15px;
    background: white;
    /* box-shadow: 2px 2px 5px #717171; */
    border-radius: 3px;
    position: relative;
    }
    
    div#logo_and_info {
    width: 95%;
    height: 150px;
    /* border: solid 1px #ebebeb; */
    margin: 5px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    }
    
    .title_box {
    height: 30px;
    width: 95%;
    margin: 0 auto;
    border-bottom: solid 1px #e8e8e8;
    }
    
    .action_box {
    width: 95%;
    /* border: solid 1px #eeeeee; */
    margin: 5px auto;
    }
    
    ul.interactive {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    }
    
    ul.interactive li {
    width: 16.5%;
    list-style: none;
    }
    
    ul.interactive li img {
    width: 100%;
    margin-top: 3px;
    }
    li#getCounter ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    }
    
    li#getCounter ul li:nth-child(2) { 
    width: 100%;
    }
    
    li#getCounter ul li:nth-child(1) {
    width: 100%; 
    display: block;
    }
    span#counter {
    font-weight: 600;
    text-align: center;
    display: block;
    font-size: 15px;
    line-height: 10px;
    margin-top: 5px;
    } 
    section#wrapper_grid {
    background: #f3f3f3;
    padding: 20px 0;
    }
    
    .opaco {
    opacity: 0.2;
    }
    .logo_info {
    height: 150px;
    }
    .logo_boxImg img {
    width: 80%;
    display: block;
    margin: 0 auto;
    }
    .logo_boxImg {
    height: 150px;
    overflow: hidden;
    }
    div#wrapper_info {
    transition: all 0.5s;
    transition-timing-function: ease-in-out;
    }
    
    img#infoGet {
    width: 85%;
    margin-top: 10px;
    }
    
    img#unlook {
    width: 90%;
    margin-top: 10px;
    }
    div#actionUnlock {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000de; 
    box-sizing: border-box;
    }
    .wrapperUnlok {
    width: 70%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    }
    span#lockCloseButon {
    display: block;
    width: 30px;
    color: white;
    background: red;
    height: 30px;
    position: absolute;
    right: 0;
    font-size: 30px;
    line-height: 25px;
    text-align: center;
    transform: rotate(45deg);
    border-radius: 15px;
    cursor: pointer;
    }
    div#actionUnlock p {
    width: 70%;
    color: white;
    text-align: center;
    margin: 0 auto;
    }
    div#actionUnlock p {
    width: 70%;
    color: white;
    text-align: center; 
    margin: 30px auto 15px;
    }
    div#actionUnlock b {
    color: white;
    width: 75%;
    margin: 0 auto;
    display: block;
    text-align: center;
    }
    .wrapperUnlok input {
    height: 32px;
    margin-bottom: 3px;
    }
    .wrapperUnlok button {
    margin: 0 auto;
    display: block;
    border: none;
    height: 30px;
    width: 60%;
    background: #177990;
    color: white;
    font-size: 14px;
    }
    .wrapperUnlok button:hover{
    background: #116679;
    cursor: pointer;
    }
    span.sistem_msGrid_great, span.sistem_msGrid_advent {
        position: absolute;
        top: 0;
        background: #00a943e3;
        color: white;
        padding: 10px;
        box-sizing: border-box;
        line-height: 20px;
        font-size: 15px;
        display: block;
        width: 100%;
    }

    .sistem_msGrid_advent{
        background: rgba(253, 109, 109, 0.856)!important;
    }
    img#added:hover {
        cursor: no-drop;
    }
    @media screen and (max-width:1100px){
    div#grid_box {
    width: 95%;
    }
    }
    @media screen and (max-width:900px){
    .logo_box {
    width: 48.5%;
    }
    }
    @media screen and (max-width:500px){
    .logo_box {
    width: 98%;
    }
    }
    