div#base_segPaso {height: 100vh;
    position: absolute;
    background: #2e2e2ef6;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 22;
    top: 0;
    left: 0;
}

.wrapper_segPaso {
    width: 60%;
    max-width: 500px; 
    background: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    position: relative;
} 
span.closeSegP {
    position: absolute;
    background: #3e9c8a;
    color: white;
    right: -10px;
    top: -10px;
    width: 30px;
    text-align: center;
    line-height: 22px;
    height: 30px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 800;
    transform: rotate(50deg);
    border: solid 2px #c9c9c9;
    box-shadow: 1px 2px 3px #8e8e8e;
    cursor: pointer;
}
.cajaPersonal h2 {
    font-size: 20px;
    }
    .cajaPersonal {
    border-top: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    }
    .segPaso_opcciones {
    display: flex;
    justify-content: space-between;
    }
    .segPaso_opcciones li {
    list-style: none;
    width: 33.5%; 
    }
    .segPaso_opcciones {
    padding: 0;
    }
    .segPaso_opcciones li img {
    width: 20px;
    margin-right: 5px;
    }
    .segPaso_opcciones li { 
    font-size: 13px;
    line-height: 20px;
    color: #515151;
    padding: 0;
    }
    .subir_logo img {
    width: 16px !important;
    }
    .segPAso_home img {
    width: 25px !important;
    }
    .cajaPersonal h2 {
    font-weight: 400;
    }
    .segPaso_opcciones li:hover {
    border-bottom: solid 1px #4a8993;
    cursor: pointer;
    }
    .segPaso_opcciones li {
    border-bottom: solid 1px transparent;
    padding-bottom: 5px;
    transition: all 0.3s;
    }
    ul.segPaso_opcciones li a {
        text-decoration: none;
        font-variant: all-petite-caps;
    }