body,html{
    overflow-x: hidden;
    position: relative;
    }
    .headlogo{width: 70px;}
    .notificacion { width: 20px; }
    .notificacion {
    width: 20px;
    } 

    .activeRing { 
        animation-iteration-count: infinite;
        animation-name: example;
        animation-duration:  0.7s;
       
      }
      
      @keyframes example {
        from {border: solid 3px transparent;  }
        to {border: solid 3px red;}
      }
    #wrapper-header {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0;
    }
    .menupr {
    display: flex;
    }
    .menupr li {
    list-style: none;
    }
    .menupr li a { 
    text-decoration: none;
    font-weight: 200;
    color: gray;
    line-height: 30px;
    display: inline-block;
    padding: 0 10px;
    }
    .menupr li a:hover {
    border-bottom: #d2d2d2 groove 1px;
    color: black;
    }
    #buscardor {
    height: 23px;
    margin-top: 20px;
    width: 78px;
    border-radius: 5px;
    border: solid 1px #dbdbdb;
    padding-left: 10px;
    background-repeat: no-repeat;
    background-position: 98% 3px;
    background-size: 18px;
    transition: all 0.5s;
    }
    .userSection {
    display: flex;
    }
    li#perfil {
    min-width: unset;
    }
    .userSection li {
    list-style: none;
    font-size: 15px;
    color: #65afc0;
    padding: 5px 4px;
    line-height: 20px;
    margin-right: 10px;
    max-height: 20px;
    min-width: 100px;
    }
    #logOut {
    padding-right: 0;
    margin-right: 0;
    min-width: 90px;
    } 
    .bottom_menu{
    display: none; 
    }
    
    ul.userSection li img {
    width: auto;
    height: 18px;
    margin: -2px 5px;
    }
    ul.userSection li a { 
    color: #65afc0;
    text-decoration: none; 
    }
    .loguin {
    display: flex;
    align-items: center;
    cursor: pointer;
    }
    .loguin img {
    width: 17px;
    margin-right: 5px;
    }
    .singInLogo {
    width: 23px;
    }
    .sing_in {
    display: flex;
    cursor: pointer;
    }
    .hideIt{
    display:none;
    }
    ul#burguerMenu {
    border: solid 1px #d4d4d4;
    width: 35px;
    padding: 0;
    height: 30px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    }
    ul#burguerMenu li {
    border: solid 1px gray;
    display: block;
    height: 0px;
    padding: 0;
    margin: 6px auto 0;
    width: 80%;
    min-width: unset;
    }
    #photoUser img {
    width: 100%;
    }
    #photoUser {
    position: relative;
    margin: -10px 30px 0 0;
    overflow: hidden;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    }
    
    #menuUser {
    position: absolute;
    right: -100%;
    background: #63adbd;
    padding: 10px 30px 40px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    color: white;
    transition: all 0.5s;
    z-index: 10;
    }
    #menuUser p {
    font-size: 18px;
    border-bottom: solid 1px hsla(206, 83%, 25 .02)
    }
    
    
    #menuUser li a img {
    width: 18px;
    background: #bcd1d1;
    padding: 3px;
    border-radius: 15px;
    margin: -8px 10px;
    }
    #menuUser li a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    }
    #menuUser li {
    margin-bottom: 15px !important;
    list-style: none;
    padding-bottom: 5px;
    border-bottom: solid 1px transparent;
    }
    #menuUser li:hover {
    border-bottom: solid 1px #94c2d9;
    }
    
    
    
    
    
    div#sistemaNotificaciones {
    width: 30%;
    position: absolute;
    z-index: 10;
    background: #3b3b3b;
    max-height: 300px;
    overflow-y: auto;
    right: -100%;
    box-shadow: 1px 2px 10px black;
    border-bottom: solid 8px #3b3b3b;
    border-top: solid 8px #3b3b3b;
    max-width: 370px;
    min-width: 370px;
    transition: all 0.3s;
    }
    div#itemsNotificaciones {
    background: whitesmoke;
    width: 90%; 
    margin: 15px auto;
    position: relative;
    display: flex;
    box-shadow: 2px 2px 2px black;
    }
    div#closeBTN {
    width: 25px;
    height: 25px;
    background: red;
    color: white;
    position: absolute;
    right: -5px;
    font-weight: 800;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    border-radius: 15px;
    transform: rotate(45deg);
    top: -8px;
    cursor: pointer;
    }
    .imgNotfLogo {
    width: 30%;
    overflow: hidden;
    max-height: 90px;
    border-bottom: 10px solid white;
    }
    .imgNotfLogo img {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    }
    .infoNotif {
    width: 70%;
    }
    .infoNotif ul {
    margin: 0;
    padding: 0;
    display: flex;
    }
    .infoNotif ul li{
    list-style: none;
    }
    li.imgenquienLegusta {
    width: 20%;
    }
    li.imgenquienLegusta img {
    width: 100%;
    border-radius: 35px;
    margin-top: 5px;
    border: solid 5px #65afc0;
    }
    li.aboutlike {
    width: 70%;
    padding-left: 15px;
    box-sizing: border-box;
    }
    li.aboutlike b {
    font-size: 12px;
    
    }
    li.aboutlike p {
    margin: 0;
    margin-left: 0px;
    color: white;
    background: #65afc0;
    padding: 0 0 3px 10px;
    margin-left: -10px;
    font-variant: all-petite-caps;
    font-size: 15px;
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    }
    li.aboutlike cite {
    font-size: 10px;
    }
    @media screen and (max-width:900px){
      #wrapper-header {
        width: 95%;
      }
    }
    @media screen and (max-width:670px){
    #wrapper-header { 
    padding: 0;
    width: 95%;
    }
    .menupr{
    display: none;
    }
    .userSection {
    display: flex;
    margin-left: 0!important;
    padding-left: 0;
    }
    .bottom_menu{ 
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background: white;
    width: 100%;
    margin: 0; 
    padding: 0;
    }
    .bottom_menu li:nth-child(1) {
    border-right: solid 1px #d5d5d5;
    }
    .bottom_menu li:hover{
    background:#eaeaea; 
    }
    .bottom_menu li {
    list-style: none;
    width: 50%;
    text-align: center;
    }
    .bottom_menu li a{
    text-decoration: none;
    color: gray;
    line-height: 45px;
    }
    }
      