input[type=text], textarea{
    font-size: 16px;
    padding-left: 5px;
    box-sizing: border-box;
}
div#uploadLogoSecction {
    background: #f6f6f6;
    padding: 3% 0;
}

.wrapperUplogo {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

div#steps {
    width: 60%;
    /* border: solid 1px #e5e5e5; */
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 38px;
    border-radius: 30px;
}

div#steps span {
    font-size: 30px;
    line-height: 30px;
    background: white;
    border-radius: 25px;
    padding: 0 9px;
    border: solid 1px gray;
    cursor: pointer;
    text-align: center;
    z-index: 5;
    min-height: 35px;
}
div#steps span:hover{
    background: #eaeaea;
}

span.one {
    position: absolute;
    left: 0;
}

span.tree {
    position: absolute;
    right: 0;
    top: 0;
}

span.two {
    position: absolute;
    left: 49%;
}

.line {
    position: absolute;
    width: 95%;
    border: dashed 1px silver;
    top: 50%;
    z-index: 1;
}
.box_slier_masc {
    width: 80%;
    height: 70vh;
    /* border: solid 1px gray; */
    margin: 30px auto;
    overflow: hidden;
    background: white;
}

.stepses {
    display: flex;
}
.stepses {
    display: flex;
    transition: all 0.5s;
    width:300%;
}

.steps_1 {
    padding: 35px;
    box-sizing: border-box;
    position: relative;
    width: 33.3%;
}
.steps_2 {
    padding: 35px;
    box-sizing: border-box;
    position: relative;
    width: 33.3%;
}
.steps_3 {
    padding: 35px;
    box-sizing: border-box;
    position: relative;
    width: 33.3%;
}
.stepses input, .stepses textarea {
    border-color: #dbdbdb!important;
    border: solid 1px;
    border-radius: 3px;
}

.steps_1 span, .steps_2 span, .steps_3 span {
    display: block;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    margin-bottom: 30px;
    font-weight: 100;
}

.steps_1 input {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: 40px;
}

.steps_1 textarea {
    width: 80%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    height: 80px;
}

.steps_1 input[type=file], .steps_2 input[type=file] {
    display: block;
    width: 80%;
    background: white;
    border: solid 1px gray;
    margin: 20px auto;
    padding-top: 10px;
    height: 30px;
    margin-bottom: 10px;
    position: relative;
}
.steps_1 button, .steps_2 button, .steps_3 button {
    position: absolute;
    right: 13%;
    border: none;
    width: 20%;
    background: #65afc0;
    height: 35px;
    cursor: pointer;
    font-weight: 800;
}
.steps_3 button { 
    background: #cc7b25; 
}
.steps_1 button:hover, .steps_2 button:hover,.steps_3 button:hover{
color: white;
}

.steps_3 cite {
    display: block;
    width: 60%;
    margin: 0 auto 20px;
}

.steps_3 .checkboxInfo {
    margin-bottom: 0;
}
.steps_3 .wrapperPass {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.steps_3 input[type=text] {
    width: 150px;
    height: 30px;
    padding-left: 10px;
    box-sizing: border-box;
}
input#block_logo {
    border-radius: 40px!important;
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 8px; 
}

#lock{
   margin-left: 7px; 
}
input#onlyPNG:after,input#onlyJPG:after, input#onlySVG:after{
       position: absolute;
    right: 0;
    margin-right: 20px;
    color: #9c9c9c;
}
input#onlySVG:after {
    content: "...Solo para archivos SVG"; 
}

input#onlyPNG:after {
    content: "...Solo para archivos PNG"; 
}

input#onlyJPG:after {
    content: "...Solo para archivos JPG"; 
} 

code#Message, code#Message_step_2, code#Message2 {
    position: absolute;
    top: 0;
    left: 10px;
    color: red;
}
code#Message2 { 
    top: 15px!important; 
}

 
#nombre_logo:focus{
    outline: none!important;
}
div#chargerInfinite {
    background: #000000d9;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 20;
    display:flex;
    justify-content:center;
    align-items: center;
    display: none;
}

.rotadorContainer {
    width: 150px;
    height: 150px; 
    position: relative;
}

.rotadorContainer img {
    width: 100%;
    position: absolute;
}
@keyframes rouator {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  img#rotadorRapido {
    animation-name: rouator;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rouatorFast {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }
  img#rotadorLento {
    animation-name: rouatorFast;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 0.1s;
}
  
@media screen and (max-width:1200px){
    .box_slier_masc {
        width: 100%;}
        .steps_3, .steps_2, .steps_1 {
            padding: 30px 10px;
        }
        .steps_1 span, .steps_2 span, .steps_3 span { 
            line-height: 20px;
        }
        .steps_3 cite {
            width: 90%;
            margin: 30px auto 20px;
        }
        div#steps {
            width: 95%;}
}

@media screen and (max-width:600px){
    .steps_1 button, .steps_2 button, .steps_3 button {
        position: unset;
        right: unset;
        border: none;
        width: 78%;
        background: #65afc0;
        height: 35px;
        cursor: pointer;
        font-weight: 800;
        display: block;
        margin: 10px auto;
        box-sizing: content-box;
    }
    #envDatos {
        margin-top: 10px;
    }
}