.slider {
    background-size: cover;
    background-position: 0 -70px;
    display: flex;
    padding: 30px 30px 0;
    max-height: 500px;
    max-width: 1200px;
    margin: 0 auto;
}
.slider img{
    width: 100%;
}

 
.wrapperSlider {
flex-grow: 1;
 
width: 70%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.wrapperSlider h1 {
padding: 0;
margin: 0;
display: block;
text-align: left;
width: 100%;
font-family: 'Monda', sans-serif;
}
.wrapperSlider h2 {
display: block;
text-align: left;
width: 100%;
font-family: 'Monda', sans-serif;
margin: 0;
}
 
.wrapperSlider p {
font-weight: 100;
padding-right: 20px;
text-align: justify;
}
.imgSlider {
padding: 0 20px;
}
 
.wrapperSlider a {
background: #65afc0;
color: white;
line-height: 40px;
display: block;
padding: 0 45px;
text-decoration: none;
}
 
.segundaSeccion img {
height: 100%;
position: absolute;
right: 0;
}
.segundaSeccion {  
position: relative;
height: 400px;
max-width: 1200px;
margin: 50px auto 0;
overflow: hidden;
}


.wrapperInfoslider {
position: absolute;
z-index: 3;
width: 40%;
margin: 60px 40px;
color: white;
background: #017fa8;
left: 0;
top:0;
}
.wrapperInfoslider b {
font-size: 30px;
font-family: 'Monda', sans-serif;
}

.wrapperInfoslider p {
    padding-right: 20px;
}

.wrapperInfoslider a {
    background: white;
    line-height: 30px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #017fa8;
    font-weight: 600;
    width: fit-content;
    padding: 0 30px;
}
 

 .Wrapper_seguridad {
    width: 80%;
    max-width: 1200px;
    display: flex;
    margin: 80px auto;
}

.Wrapper_seguridad img {
    width: 50%;
}

.infoSeguridad {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoSeguridad h3 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-family: 'Monda', sans-serif;
}

.infoSeguridad p {
    font-weight: 100;
    color: #525252;
}

.infoSeguridad a {
    display: block;
    background: #017fa8;
    color: white;
    text-decoration: none;
    line-height: 40px;
    padding: 0 30px;
}

div#pasos_paraSubir_logo {
    display: flex;
}

div#pasos_paraSubir_logo img {
    width: 50%;
}




 @media screen and (max-width:900px){
.wrapperSlider { 
    width: 50%;
    }
    .imgSlider{
        width:50%;
    }
    
 }

  @media screen and (max-width:800px){
.wrapperInfoslider {
    position: relative;
    padding:30px; 
z-index: unset;
width: 100%;
margin:0; 
left: unset;
top:unset;
box-sizing: border-box;
}
.segundaSeccion { 
    height: 650px;
    }
    .segundaSeccion img {
    height: 70%;
    }
  }
  @media screen and (max-width:700px){
.slider{
    flex-direction: column;
    max-height:unset;
    }
    .wrapperSlider { 
    width: 90%;
    margin:50px auto;
    }
    .imgSlider{
        width:90%;
    }
  }